/*
Paleta de cores
Preto: #231E23
Verde: #39A6A3
Azul claro: #DEEEEA
Roxo: #BF1363
Amarelo: #FFEDA3
Marrom: #564A4A
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Rubik", sans-serif;
}

/*-------- NAV BAR --------*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
    background-color: #231e23;
    width: 100%;
    position: fixed;
    z-index: 2;
}

/*-------- SCROLL BAR --------*/
::-webkit-scrollbar {
    width: 0.8em;
    background-color: rgba(0, 255, 0, 0);
}

::-webkit-scrollbar-thumb {
    background-color: #39a6a3;
    box-shadow: 0 -100vw 0 100vw #39a6a3;
}

nav li, a, button {
    color: white;
}

.navLinks {
    list-style: none;
}

.navLinks li {
    display: inline-block;
    padding: 0 1.3em;
    font-size: 18px;
}

.navLinks li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.navLinks li a:hover {
    color: #39a6a3;
}

/*-------- BOTÕES --------*/

/*botão Entrar*/
button {
    padding: 0.5em 1.5em;
    background-color: rgb(57, 166, 163);
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(57, 166, 163, 0.8);
    cursor: pointer;
}

/*botão Cadastro*/
.blocoPrincipal button {
    padding: 2.5% 15%;
    background-color: rgb(57, 166, 163);
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
    font-size: 150%;
}

.blocoPrincipal button:hover{
    background-color: rgba(57, 166, 163, 0.8);
    cursor: pointer; 
}

/*-------- LOGOS --------*/
#logo {
    max-width: 15%;
    max-height: 10%;
    width: auto;
    height: auto;
    float: left;
}

/*-------- BLOCO PRINCIPAL --------*/

main {
    background-color: white;
    z-index: 2;
}

.blocoPrincipal {
    min-width: 840px;
    display: flex;
    align-items: center;
    padding: 6.5em 3em 1em 3em;
}

.blocoPrincipal h1 {
    font-weight: 900;
    color: #564a4a;
    padding-bottom: 2.5%;
    padding-right: 2.5%;
    font-size: 5em;
    max-width: 950px;
}

.blocoPrincipalEBotao {
    display: inline-block;
}

/*-------- FUNÇÕES DO APP --------*/
.funções h3 {
    font-size: 3em;
    padding-bottom: 1.5%;
}

.funções p {
    font-size: 1.5em;
}

.função {
    display: flex;
    align-items: center;
    padding: 1em 3em;
}

#função1 {
    background-color: #deeeea;
}

#função3 {
    background-color: rgba(255, 237, 163, 0.8);
}


.textoFunção {
    display: inline-block;
}

.textoFunçãoDireita {
    padding: 0 0 3em 3em;
    max-width: 70em;
}

.textoFunçãoEsquerda {
    padding: 0 3em 3em 0;
    max-width: 70em;
}

#celularBlocoPrincipal {
    position: relative;
    max-width: 20em;
    max-height: 42em;
    width: auto;
    height: auto;
    float: right;
    order: 2;
    margin-left: auto;
    margin-right: auto;
}

.imagemFunção:hover {
    -moz-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
    filter: drop-shadow(1em 0.5em 1em grey);
}

.imagemFunção {
    max-width: 15%;
    max-height: 10%;
    width: auto;
    height: auto;
    float: left;
}

.imagemDireita {
    margin-left: auto;
}

.imagemEsquerda {
    margin-right: auto;
}

.textoFunção {
    display: inline-block;
}

/*-------- FOOTER --------*/
footer {
    padding: 2% 4%;
    background-color: #231e23;
    color: white;
}

footer ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 1.5% 0;
    list-style: none;
}

footer li {
    display: inline-block;
    padding: 0 2.5%;
    font-size: 18px;
}

footer a{
    text-decoration: none;
    transition: all 0.3s ease 0s;
}

footer a:hover{
    color: #39a6a3;
    cursor: pointer;
}

footer p {
    text-align: center;
    font-size: 18px;
}

/*-------- RESPONSIVIDADE / MOBILE --------*/

@media screen and (max-width: 900px) {
    .blocoPrincipal img {
        position: relative;
        max-width: 20em;
        max-height: 42em;
        padding-top: 1em;
        display: block;
        margin-left: auto;
        margin-right: auto;
  }

  .blocoPrincipal img {
        display: flex;
        justify-content: center;
        align-items: center;
  }

  .blocoPrincipal {
        display: inline-block;
  }
  .blocoPrincipal {
        display: inline-block;
        max-width: 600px;
  }
}
